<div class="book-info-container is-size-7 has-text-weight-normal">
          <p class="mb-0"><span class="has-text-weight-bold">Fecha de publicación: </span>{{ item.release_date }}</p>
            <p class="mb-0">{{ item.pages_number }}</p>
              <p class="mb-0"><span class="has-text-weight-bold">ISBN:</span> {{ item.isbn }}</p>
              <p class="mb-0"><span class="has-text-weight-bold">Traducido por: </span>{{ item.translator}}</p>
              <p class="mb-0"><span class="has-text-weight-bold">En cubierta: </span>{{ item.illustrator}}</p>
              <p class="mb-0"><span class="has-text-weight-bold">Prologo: </span>{{ item.prologue}}</p>
</div>
