{% assign books = site.data.books %}
{% for item in books %}
{% if item.book == page.title %}
<div class="container ">
<section class="columns mx-6 mt-3 mx-3-mobile " >

  <div class="column is-4 has-margin-left-6 has-margin-1-mobile">

          <figure class="image is-2by3 ">
            <img src="{{ item.cover }}" alt="{{ item.book | prepend: "cubierta de" }}" />
          </figure>
  </div>
  <div class="column is-6 has-margin-left-2-desktop has-margin-right-6-desktop has-margin-1-mobile has-text-centered-mobile">
<div class="book-info-container">
          <p class="title ">{{ item.book }}</p>
          <p class="subtitle mt-1">{{ item.author }}</p>
          <div class="section is-size-7 has-text-weight-semibold mb-2 mt-2">
            <p class="mt-0">Fecha de publicación: {{ item.release_date }}</p>
              <p class="mt-0">{{ item.pages_number }}</p>
                <p class="mb-0">ISBN: {{ item.isbn }}</p>
          </div>
          <div class="container">
          <p class="content has-text-justified ">{{ item.description }}</p>
          </div>
</div>

  </div>
  <div class="column is-2 ">
    <div class="card">


      <div class="card-content has-text-centered">

            <p class="title is-4">{{ item.PVP}}</p>
            <p class="subtitle is-6">Libro impreso</p>

    </div>

  </div>
{% endif %}
{% endfor %}

</section>
</div>
