

{% assign books = site.data.books %}
<section>
<div class="gallery columns is-centered">

  <div class="column is-8 is-centered ">
    <div class="gallery columns is-multiline is-centered ">
{% for item in books %}

        <article class="column is-4-desktop is-6-tablet is-3-widescreen">
          <card>
          <figure class="image is-2by3">
            <a href="{{ site.baseurl }}/libros/{{ item.slug }}">
            <img src="{{ item.cover }}"  />
            </a>
          </figure>
          </card>

          <div class="has-text-centered">
          <p class="title is-size-5 has-text-weight-normal ">{{ item.book }}</p>
          <p class="author is-size-6 has-text-weight-semibold">{{ item.author }}</p>

        </div>

          </article>

  {% endfor %}
  </div>
   </div>
      </div>
      </section>
