<nav class="navbar">
  <div class="container ">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
            <img src="/assets\imgs\banner_medium_big.jpg" >
          </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu is-hoverable">

      <div class="navbar has-text-weight-semibold is-uppercase is-size-6">
{% for item in site.data.navbar %}
        <a href="{{item.link}}" class="has-text-grey navbar-item is-family-serif"> {{ item.name }} </a>
        {% endfor %}

      </div>
      </div>
      </div>
      </nav>
