<div class="card-content  has-text-centered">

      <p class="title is-6  is-family-sans-serif has-text-grey-darker has-text-weight-bold">{{ item.PVP}}</p>
      <p class="subtitle is-7  has-text-weight-bold is-uppercase has-text-grey-darker">Libro impreso</p>
      <p><button type="button" name="button" class="button is-small is-warning">  <a class="is-family-sans-serif has-text-weight-bold has-text-grey-darker" href="https://trolley.link/p/{{ item.data-tpk }}" data-trolley="true" data-tpk="{{ item.data-tpk }}" data-styled="false" data-note="hola mundo">
  comprar
</a></button></p>

</div>
