<div class="card-content  has-text-centered">

      <p class="title is-6  is-family-sans-serif has-text-info has-text-weight-bold">{{ item.PVP}}</p>
      <p class="subtitle is-7  has-text-weight-bold is-uppercase has-text-info">Libro impreso</p>
      <p><button type="button" name="button" class="button is-small is-warning">  <a class="is-family-sans-serif has-text-weight-bold "  href="{{ item.printed-book-link }}" data-styled="false" data-note="hola mundo">
  comprar
</a></button></p>

</div>
