// No overrides so far

// No overrides so far

.navbar-menu, .footer {border-bottom:  1px solid #a50043 !important; border-top: 1px solid #a50043 !important }

.body, .hero, .is-white, .section, .footer {background-color: #f7eacd !important}

.has-text-info {color: #a50043 !important}

.navbar-item:hover {color: #a50043 !important; background-color: transparent !important}

.button.is-info.is-inverted,  {color: #a50043 !important; background-color: transparent !important}

.card, .monkey,  {background-color:#faf5eb !important }
