@charset "utf-8"
/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$color: #d7c364;
$family-sans-serif: 'Lato', sans-serif;
$family-serif: 'Crimson Text', serif;
$family-primary: $family-serif;
$family-secondary: 'Arvo', serif;
$subtitle-family: $family-sans-serif;
$size-6: 0.975rem;
$size-7: 0.825rem;

.navbar { margin: auto!important;}
.navbar-item {font-family: $family-sans-serif;}
.author {font-family: $family-sans-serif;}

$primary: #5d5ea6!default;
$link-color: #2d5f5d!default;
$hero-body-padding:  1.5rem !default
$hero-body-padding-small: 0.5rem !default
$hero-body-padding-medium: 3rem 1.5rem !default
$hero-body-padding-large: 5rem 1.5rem !default
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$modal-content-width: 800px !default;


.subtitle, .author { color: #2d5f5d!important ;}
.book-info-container {font-family: $family-sans-serif;}


@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "form/_all"
@import "components/_all"
@import "grid/_all"
@import "layout/_all"
